{% extends 'base.html' %} {% load static %} {% block title %} {{ post.title }}
{% endblock %} {% block content %}

<section>
  <div class="container my-5">
    <h2 class="text-center py-2">{{ post.title }}</h2>
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" />
    {% endif %}
    <p class="text-muted p-2">
      <i class="fa fa-calendar"></i> {{ post.date_posted|date:"F d, Y" }}
    </p>
    <p class="p-3">{{ post.description }}</p>
    <p class="pb-5">Author: {{ post.author }}</p>
  </div>
</section>

{% endblock %}
